<h1>Log IN</h1>

<form class="" action="/login" method="post">
  <input type="text" name="username" placeholder="username" value="">
  <input type="password" name="password" placeholder="password" value="">
<button>Submit</button>
</form>
<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Sign In</a></li>
<li><a href="/logout">Sign Out</a></li>
